<html>
 <body>
 <center>
<p>{{content}}</p>
<form method="POST">
 {% csrf_token %}

 {% if messages %}
    {% for message in messages %}
  <div class="alert alert-{{ message.tags}}">
      <b>{{ message }} </b>
      {% endfor %}
  </div>
 {% endif %}

{{form.GK.label}}
<br>
{{form.GK}}
<br>
{{form.DEF.label}}
<br>
{{form.DEF}}
<br>
{{form.MID.label}}
<br>
{{form.MID}}
<br>
{{form.FWD.label}}
<br>
{{form.FWD}}
<br>
{{form.choice.label}}
<br>
{{form.choice}}
<br>
<br>
 <div class="form-group">
     <button class="btn btn-outline-info" type="submit">Simulate</button>
 </div>
</form>
</center>
</body>
</html>
