{% extends "blog/base.html" %}

{% block title %}
  <title>FPL Simulator - Analysis</title>
  <meta content="Personal website for Antonio Lee" name="description">
  <meta content="HTML, CSS, JavaScript" name="keywords">
{% endblock title %}

{% block content %}
    <!-- ======= FPL Simulation - Results and Discussion Section ======= -->
      <section id="portfolio" class="portfolio">
        <div class="container">

          <div class="section-title">
            <h2>FPL Simulation - Results and Discussion</h2>

          </div>
            <p></p>



          </div>

        </div>
      </section><!-- End FPL Simulation - Results and Discussion Section -->
{% endblock content %}